#shit {
    color: indianred;
}

.joy {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    border-top: 20px solid darkcyan;
    padding: 20px;
    border-radius: 20px;
}